<body class="text-bg-dark" style="background: linear-gradient(to right, rgba(112,48,160,0.05), rgba(0,0,0,0.05));">

    <div>
      <ng-template #header></ng-template>
    </div>

    <div class="b-example-divider"></div>



    <!--Swap Element-->
   
    <div class="modal modal-signin position-static d-block text-bg-dark py-5" tabindex="-1" role="dialog" id="modalSignin">       
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            
            <!-- Navigation Bar of Swap Element-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" style="color: #7030A0" routerLink="/swap">Invest</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/withdraw">Withdraw</a>
            </ul>
            
            <!-- Headline -->
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h1 class="fw-bold mb-0 fs-3 text-dark">Withdraw DIP</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <!-- Form 
            <form [formGroup]="claimForm" (ngSubmit)="invest()">
              <input id="name" type="text" placeholder="0.0" formControlName="amount" >
              <button class="button" type="submit">Purchase</button>
            </form>-->

            <div class="modal-body p-5 pt-0">
              <form class="" [formGroup]="claimForm" (ngSubmit)="withdraw()">
                <div class="form-group mb-3" [formGroup]="claimForm">
                    <label for="depositEth" class="fw-bold text-dark">DIP</label>
                    <input id="name" type="text" class="form-control" formControlName="amount" placeholder="0.0">
                    <small class="text-dark">Wallet Balance DIP: {{dipBalance}}</small><br>
                    <small class="text-dark">Wallet Balance ETH: {{etherBalance}}</small>
                </div>
                <!--
                <div class="form-group mb-3">
                    <label for="receivedDIP" class="fw-bold text-danger">DIP</label>
                    <input class="form-control form-control" type="text" placeholder="{{displayDipTokenValue}}" readonly>
                </div>
                -->
                <small class="text-dark">DIP Price USD: ${{displayDipTokenValue}}</small>
                <button class="w-100 mb-2 mt-2 btn btn-lg rounded-3 text-white" style="background-color: #7030A0;" type="submit">Withdraw Now</button>
                
                <!--
                <br><br>
                <small class="text-danger">Estimated Gas Costs: XXXX </small><br>
                <small class="text-danger">Minimum received DIP: XXXX </small>
                -->

              </form>
              
            </div> -->
          </div>
        </div>    
      </div>
    
    


    <!--Footer-->
    <div class="b-example-divider"></div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
        </footer>
    </div>

</body>