
<body class="text-bg-dark">

    <!--Header-->
    <header class="p-3" style="background-color: rgb(0, 0, 0);">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <!--Logo in the top left corner-->
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            
            <!--Header Navigation Links-->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a routerLink="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
            <li><a routerLink="/swap" class="nav-link px-2 text-white">Swap</a></li>
            <li><a href="#" class="nav-link px-2 text-danger">Whitepaper</a></li>
            <li><a href="#" class="nav-link px-2 text-danger">Team</a></li>
            </ul>

            <!--Display Connected Wallet-->
            <p class="text-right mb-md-0 px-5 text-danger">Connected wallet: 0x59f3...9zu664</p>
            
            <!--Button Connect Wallet-->
            <div class="text-end">
            <button type="button" class="btn text-white" style="background-color: #7030A0">Connect Wallet</button>
            </div>
        </div>
        </div>
    </header>

    <div class="b-example-divider"></div>



<!--Main Content-->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-2 fw-light">Decentralized Index Protocol</h1>
        <p class="lead text-muted">Don't buy a Single Token – Buy the Crypto Market</p>
        <p>
        <!-- Connect wallet here or forward to swap site -->
        <a href="#" class="btn my-2 text-danger" style="background-color: #7030A0">Buy the DIP</a>
        </p>
    </div>
    </div>
</section>

<!-- Advantages with icons -->
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3" style="background-color: #20A150">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2">Diversification</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3" style="background-color: #20A150">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2">Convenience</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3" style="background-color: #20A150">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2">Follow the Market</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>

<!-- Table with tokens in the index -->

<div class="container px-4 py-5" id="featured-3">
  <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Position</th>
      <th>Coin</th>
      <th>Price</th>
      <th>Index Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p class="fw-normal mt-3 px-4">#1</p>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://i.ibb.co/sQc5kkt/btc.jpg"
              alt="BTC"
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
              <div class="ms-3">
                <li class="list-inline-item fw-bold">Bitcoin</li>
                <li class="list-inline-item text-muted">BTC</li>
              </div>
        </div>
      </td>
      <td>
        <!-- Get price here -->
        <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
      </td>
      <td>
        <p class="fw-normal mt-3 text-danger">% GET Weight</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="fw-normal mt-3 px-4">#2</p>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://i.ibb.co/JqJsTHC/eth.png"
              class="rounded-circle"
              alt="ETH"
              style="width: 45px; height: 45px"
              />
              <div class="ms-3">
                <li class="list-inline-item fw-bold">Ethereum</li>
                <li class="list-inline-item text-muted">ETH</li>
              </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
      </td>
      <td>
        <p class="fw-normal mt-3 text-danger">% GET Weight</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="fw-normal mt-3 px-4">#3</p>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://i.ibb.co/tzy6CXt/usdt.png"
              class="rounded-circle"
              alt="USDT"
              style="width: 45px; height: 45px"
              />
              <div class="ms-3">
                <li class="list-inline-item fw-bold">Tether</li>
                <li class="list-inline-item text-muted">USDT</li>
              </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
      </td>
      <td>
        <p class="fw-normal mt-3 text-danger">% GET Weight</p>
      </td>
    </tr>
  </tbody>
</table>
</div>




<!--Footer-->
<div class="b-example-divider"></div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
    </footer>
</div>

</body>