<body class="text-bg-dark" style="background: linear-gradient(to right, rgba(112,48,160,0.05), rgba(0,0,0,0.05));">

    <div>
        <ng-template #header></ng-template>
    </div>

    <div class="b-example-divider"></div>


<!-- Headline -->
<div class="container px-5 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Decentralized Index Protocol</h2>
</div>


<!-- Container -->
<div class="container px-5 py-5" id="featured-3">
    <div class="container px-5" id="featured-3">
        <div class="row px-3 mx-0 rounded-5 shadow text-bg-dark" style="background-color:#212529; border-style: solid; border-width: 1px; border-color: black;">
            <div class="col rounded-5 px-5">
                <p class="fs-4 pt-4 text-secondary">DIP Balance</p>
                <h3 class="pb-4 fw-normal text-danger">{{etherBalance}}</h3>
            </div>

        <!-- Table DIP token -->
        <div class="container pb-5 px-5" id="featured-3">
            <table class="table py-5 align-middle bg-transparent table-borderless">
            <thead class="text-white border-bottom">
            <tr class="text-secondary fw-light">
                <th>Asset</th>
                <th>Balance</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-transparent">
                <td>
                <div class="d-flex align-items-center">
                    <img
                        src="https://i.ibb.co/85j6TgX/DIP-token.png"
                        alt="DIP"
                        style="width: 35px; height: 35px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                        <li class="list-inline-item text-white">Decentralized Index Protocol</li>
                        <li class="list-inline-item text-muted">DIP</li>
                        </div>
                </div>
                </td>
                <td>
                    <p class="fw-normal mt-3 text-danger">% GET Balance</p>
                </td>
                <td>
                <!-- Get price here -->
                <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
                </td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button class="btn btn-dark me-md-2 " style="background-color: #212529; border-color: #7030A0 ;" type="button">Invest</button>
                        <button class="btn btn-dark" style="background-color: #212529; border-color: #7030A0 ;" type="button">Cash Out</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
  
    </div>
</div>
</div>

<!-- Container -->
<div class="container px-5 py-5" id="featured-3">
    <div class="container px-5" id="featured-3">
        <div class="row px-3 mx-0 rounded-5 shadow text-bg-dark" style="background-color:#212529; border-style: solid; border-width: 1px; border-color: black;">
            <div class="col rounded-5 px-5">
                <p class="fs-4 pt-4 text-secondary">DIP Assets Data</p>
                <button type="button" class="btn text-white btn-outline-success btn mt-3 mb-4 px-4" style="border-color: #7030a0; border-width: 1px">Rebalance Asset Weights</button>
            </div>

        <!-- Table with tokens in the index -->
        <div class="container pb-5 px-5" id="featured-3">
            <table class="table align-middle bg-transparent table-borderless">
            <thead class="text-white border-bottom">
            <tr class="text-secondary fw-light">
                <th>Asset</th>
                <th>Balance</th>
                <th>Value</th>
                <th>Index Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-transparent">
                <td>
                <div class="d-flex align-items-center">
                    <img
                        src="https://i.ibb.co/sQc5kkt/btc.jpg"
                        alt="BTC"
                        style="width: 35px; height: 35px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                        <li class="list-inline-item text-white">Bitcoin</li>
                        <li class="list-inline-item text-muted">BTC</li>
                        </div>
                </div>
                </td>
                <td>
                    <p class="fw-normal mt-3 text-danger">% GET Balance</p>
                </td>
                <td>
                <!-- Get price here -->
                <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
                </td>
                <td>
                <p class="fw-normal mt-3 text-danger">% GET Weight</p>
                </td>
            </tr>
            <tr class="bg-transparent">
                <td>
                <div class="d-flex align-items-center">
                    <img
                        src="https://i.ibb.co/JqJsTHC/eth.png"
                        class="rounded-circle bg-light"
                        alt="ETH"
                        style="width: 35px; height: 35px"
                        />
                        <div class="ms-3">
                        <li class="list-inline-item text-white">Ethereum</li>
                        <li class="list-inline-item text-muted">ETH</li>
                        </div>
                </div>
                </td>
                <td>
                    <p class="fw-normal mt-3 text-danger">% GET Balance</p>
                </td>
                <td>
                <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
                </td>
                <td>
                <p class="fw-normal mt-3 text-danger">% GET Weight</p>
                </td>
            </tr>
            <tr class="bg-transparent">
                <td>
                <div class="d-flex align-items-center">
                    <img
                        src="https://i.ibb.co/tzy6CXt/usdt.png"
                        class="rounded-circle"
                        alt="USDT"
                        style="width: 35px; height: 35px"
                        />
                        <div class="ms-3">
                        <li class="list-inline-item fw-bold">Tether</li>
                        <li class="list-inline-item text-muted">USDT</li>
                        </div>
                </div>
                </td>
                <td>
                    <p class="fw-normal mt-3 text-danger">% GET Balance</p>
                </td>
                <td>
                <p class="fw-normal mt-3 text-danger">$ GET PRICE</p>
                </td>
                <td>
                <p class="fw-normal mt-3 text-danger">% GET Weight</p>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
  
    </div>
</div>
</div>
  
  <div class="b-example-divider"></div>


<!--Footer-->
<div class="b-example-divider"></div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
    </footer>
</div>

</body>